body {
    background: dodgerblue url() no-repeat center center/cover;

}
div>img {
    width: 1000px;
    left: 1000px;
}
div {
    background-color: aliceblue;
    margin-top: 60px ;
    margin-right: 80px ;
    margin-bottom: 30px;
    margin-left: 80px ;
}

footer {
    text-align: center;
    height: 100px;
    color: rgb(5, 5, 5);
}