#t1 {
    color: rgb(14, 51, 39);
    background-color: #f59943;
    border: 1px solid ;
}

#t2 {
    color: rgb(14, 51, 39);
    background-color: #f59943;
    border: 1px solid ;
}

#t3 {
    color: rgb(14, 51, 39);
    background-color: #f59943;
    border: 1px solid ;
}

#tx1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#img1{
    border: 1px solid;
}

#bk120{
    background-color: rgb(243, 207, 160);
}
